<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">URL Encoder</h1>
    </div>

    <div class="card-header d-flex align-items-start">
      <i class="bi bi-info-circle me-3 fs-4 text-primary" title="About URL Encoder" aria-hidden="true"></i>

      <div>
        <p>This tool will convert characters in a URL into a format that can be safely transmitted over the internet.
        </p>
        <p>Since URLs can only contain certain characters, encoding replaces unsafe or special characters with a
          corresponding percentage-based format (called percent-encoding). For example, a space in a URL is encoded as
          %20, and a & becomes %26.
        </p>
        <p>This ensures the integrity of the URL when transmitted through protocols that might misinterpret or strip out
          special characters. URL encoding is essential for making sure data sent in query strings or form submissions
          is accurately processed. It's particularly useful in web development when dealing with parameters passed
          between pages.</p>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group my-3">
        <label for="separator">URL:</label>
        <input type="text" id="separator" class="form-control" [(ngModel)]="url">
      </div>

      <button class="btn btn-primary" (click)="encodeUrl()" [disabled]="!url">Encode</button>
    </div>

    @if(encodedUrl) {
    <div class="card-footer">
      <p>Encoded URL:</p>
      <p id="encodedUrl" class="fw-bold">{{ encodedUrl }}</p>

      <button class="btn btn-secondary" [ngClass]="{'btn-secondary': !isCopied, 'btn-info': isCopied}"
        (click)="copyToClipboard()">{{ copyButtonText }}</button>
    </div>
    }
  </div>

</div>