<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">HTML Encoder</h1>
    </div>

    <div class="card-body">
      <div class="form-group my-3">
        <label for="separator">HTML:</label>
        <input type="text" id="separator" class="form-control" [(ngModel)]="rawHtml">
      </div>

      <button class="btn btn-primary" (click)="encodeHtml()" [disabled]="!rawHtml">Encode</button>
    </div>

    @if(safeHtmlString) {
    <div class="card-footer">
      <p>Encoded HTML:</p>
      <p id="encodedHtml" class="fw-bold">{{ safeHtmlString }}</p>

      <button class="btn btn-secondary" [ngClass]="{'btn-secondary': !isCopied, 'btn-info': isCopied}"
        (click)="copyToClipboard()">{{ copyButtonText }}</button>
    </div>
    }
  </div>
</div>