<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">HTML Encoder</h1>
    </div>

    <div class="card-header d-flex align-items-start">
      <i class="bi bi-info-circle me-3 fs-4 text-primary" title="About HTML Encoder" aria-hidden="true"></i>

      <div>
        <p>This tool will encode special characters in HTML code to prevent XSS attacks.</p>
        <p>An HTML encoder is a tool designed to convert special characters in HTML code into their encoded equivalents.
          This process ensures that characters like &lt;, &gt;, &quot;, and &amp; are displayed correctly in a browser
          without being interpreted as part of the HTML structure. The main purpose of an HTML encoder is to prevent
          security vulnerabilities like Cross-Site Scripting (XSS) attacks, making web applications safer by handling
          user-input content securely. It’s essential for any web-based system dealing with dynamic or user-generated
          HTML.
        </p>
      </div>
    </div>

    <div class="card-body">
      <div class="form-group my-3">
        <label for="separator">HTML:</label>
        <input type="text" id="separator" class="form-control" [(ngModel)]="rawHtml">
      </div>

      <button class="btn btn-primary" (click)="encodeHtml()" [disabled]="!rawHtml">Encode</button>
    </div>

    @if(safeHtmlString) {
    <div class="card-footer">
      <p>Encoded HTML:</p>
      <p id="encodedHtml" class="fw-bold">{{ safeHtmlString }}</p>

      <button class="btn btn-secondary" [ngClass]="{'btn-secondary': !isCopied, 'btn-info': isCopied}"
        (click)="copyToClipboard()">{{ copyButtonText }}</button>
    </div>
    }
  </div>
</div>