<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Password Generator</h1>
    </div>

    <div class="card-body">
      <div class="form-group">
        <label for="numWords">Number of Words:</label>
        <input type="number" id="numWords" class="form-control" [(ngModel)]="numWords" min="1" max="{{maxWords}}">
      </div>
      <div class="form-group my-3">
        <label for="maxLength">Max Length of Each Word:</label>
        <input type="number" id="maxLength" class="form-control" [(ngModel)]="maxLength" min="1">
      </div>
      <div class="form-group my-3">
        <label for="separator">Separator (optional):</label>
        <input type="text" id="separator" class="form-control" [(ngModel)]="separator">
      </div>
      <div class="form-group my-3">
        <label for="prefix">Prefix (optional):</label>
        <input type="text" id="prefix" class="form-control" [(ngModel)]="prefix">
      </div>
      <div class="form-group my-3">
        <label for="suffix">Suffix (optional):</label>
        <input type="text" id="suffix" class="form-control" [(ngModel)]="suffix">
      </div>
      <button class="btn btn-primary" (click)="generatePassword()" [disabled]="!isDataLoaded">Generate Password</button>
    </div>

    @if(password) {
    <div class="card-footer">
      <p>Generated Password:</p>
      <p id="password" class="fw-bold">{{ password }}</p>

      <button class="btn btn-secondary" [ngClass]="{'btn-secondary': !isCopied, 'btn-info': isCopied}"
        (click)="copyToClipboard()">{{ copyButtonText }}</button>
    </div>
    }
  </div>
</div>