<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">GUID Generator</h1>
    </div>

    <div class="card-body">
      <button class="btn btn-primary" (click)="generateGuid()">Generate GUID</button>
    </div>

    @if(guid) {
    <div class="card-footer">
      <p>Generated GUID:</p>
      <p id="guid" class="fw-bold">{{ guid }}</p>

      <button class="btn btn-secondary" [ngClass]="{'btn-secondary': !isCopied, 'btn-info': isCopied}"
        (click)="copyToClipboard()">{{ copyButtonText }}</button>
    </div>
    }

  </div>

</div>