<div class="home-container">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>

      <div class="sidenav-title">
        <div class="logo">
          <img src="settings_48dp_434343_FILL0_wght200_GRAD0_opsz48.png" alt="Logo" />
        </div>
        <span>Engineering Toolkit</span>
      </div>

      @if (this.tools.length === 0) {
      <div class="no-tools-message">
        <span>No tools available</span>
      </div>
      } @else {
      <mat-nav-list>
        @for (tool of this.tools; track tool) {
        <a mat-list-item [class.active]="selectedTool?.name === tool.name" (click)="selectTool(tool)">
          <span class="nav-label">{{tool.name}}</span>
        </a>
        }
      </mat-nav-list>
      }
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="tool-container">
        <ng-template #toolContainer></ng-template>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>