<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Simple Estimate</h1>
    </div>

    <div class="d-table table-striped">

      <div class="d-table-row fw-bold">
        <div class="d-table-cell p-2 border">Task</div>
        <div class="d-table-cell text-center p-2 border">Size</div>
        <div class="d-table-cell text-center p-2 border">Uncertainty</div>
        <div class="d-table-cell text-center p-2 border">Expected</div>
        <div class="d-table-cell text-center p-2 border">Worst Case</div>
        <div class="d-table-cell p-2 border"></div>
      </div>


      @for(task of this.tasks; track task) {
      <div class="d-table-row">
        <div class="d-table-cell p-2">
          <input class="w-100" type="text" [(ngModel)]="task.name" />
        </div>

        <div class="d-table-cell text-center">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="complexityDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Small
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item">Small</a></li>
              <li><a class="dropdown-item">Medium</a></li>
              <li><a class="dropdown-item">Large</a></li>
              <li><a class="dropdown-item">Extra Large</a></li>
            </ul>
          </div>
        </div>

        <div class="d-table-cell text-center">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="uncertaintyDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              Low
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item">Low</a></li>
              <li><a class="dropdown-item">Moderate</a></li>
              <li><a class="dropdown-item">High</a></li>
              <li><a class="dropdown-item">Extreme</a></li>
            </ul>
          </div>
        </div>

        <div class="d-table-cell text-center p-2">
          {{ task.expected }}
        </div>

        <div class="d-table-cell text-center p-2">
          {{ task.worstCase }}
        </div>

        <div class="d-table-cell p-2">
          <button style="color: red; font-size: 14px; background: none; border: none; cursor: pointer;">
            ❌
          </button>
        </div>

      </div>
      }

    </div>


    <button (click)="addTask()">Add</button>

    <hr />

    <div class="row">

      <div class="col-auto border ms-2">
        200 days
      </div>


    </div>


  </div>

</div>