<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Simple Estimate</h1>
    </div>

    <div class="d-table mb-2">

      <div class="d-table-row fw-bold">
        <div class="d-table-cell p-2 border">Task</div>
        <div class="d-table-cell text-center p-2 border">Complexity</div>
        <div class="d-table-cell text-center p-2 border">Uncertainty</div>
        <div class="d-table-cell text-center p-2 border">Expected (days)</div>
        <div class="d-table-cell text-center p-2 border">Worst Case (days)</div>
        <div class="d-table-cell p-2 border"></div>
      </div>

      @if(this.tasks.length === 0) {
        <div class="d-table-row">
          <div class="d-table-cell p-2">
           <p>No tasks added yet.</p>
          </div>
        </div>
        }

      @for(task of this.tasks; track task; let idx = $index) {
      <div class="d-table-row">

        <!-- Task name-->
        <div class="d-table-cell p-2">
          <input class="w-100" type="text" [(ngModel)]="task.name" />
        </div>

        <!-- Complexity -->
        <div class="d-table-cell text-center">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle ps-2 pe-2" type="button" id="complexityDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ Complexity[task.complexity] }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              @for(key of complexityKeys; track key) {
              <li>
                <a class="dropdown-item" (click)="updateComplexity(task, key)">
                  {{ key }}
                </a>
              </li>
              }
            </ul>
          </div>
        </div>

        <!-- Uncertainty -->
        <div class="d-table-cell text-center">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle ps-2 pe-2" type="button" id="uncertaintyDropdown"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{ Uncertainty[task.uncertainty] }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              @for(key of uncertaintyKeys; track key) {
              <li>
                <a class="dropdown-item" (click)="updateUncertainty(task, key)">
                  {{ key }}
                </a>
              </li>
              }
            </ul>
          </div>
        </div>

        <!-- Expected -->
        <div class="d-table-cell text-center p-2">
          {{ task.expected | number:'1.1-1' }}
        </div>

        <!-- Worst case-->
        <div class="d-table-cell text-center p-2">
          {{ task.worstCase | number:'1.1-1' }}
        </div>

        <!-- Delete -->
        <div class="d-table-cell p-2">
          <button style="color: red; font-size: 14px; background: none; border: none; cursor: pointer;"
            title="Delete task" (click)="removeTask(idx)">
            ❌
          </button>
        </div>

      </div>
      }

      <div class="d-table-cell"></div>
      <div class="d-table-cell"></div>
      <div class="d-table-cell"></div>
      <div class="d-table-cell text-center fw-bold bg-info text-white">{{ sumExpected | number:'1.1-1' }}</div>
      <div class="d-table-cell text-center fw-bold bg-info text-white">{{ sumWorstCase | number:'1.1-1' }}</div>

    </div>

    <button class="btn btn-primary ms-4 me-4 mb-4" (click)="addTask()">Add</button>

  </div>

</div>